#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding-top: 47px;
}
body {
  background-color: #222222;
}
.menu-bg {
  background-color: #222222;
}
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: #999999;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: fixed;
  width: 100%;
  left: 195px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
a:hover {
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}
.col-item {
  font-size: 1rem;
  color: #999999;
}
.col-item:hover {
  color: lime;
}
.bg-dropdown {
  background-color: black;
}
.img-row {
  background-position-x: center;
  height: 44rem;
  background-repeat: no-repeat;
}
.title {
  font-family: Razerf5;
  color: #999999;
  line-height: 2.5rem;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
}

.discrip {
  font-family: Razerf5;
  font-size: 1.15rem;
  font-weight: bolder;
  color: white;
  letter-spacing: 0.07rem;
}
.arrow {
  transform: rotate(0deg);
  transform: scale(0.5);
  fill: lime;
}
.arrow-access {
  transform: scale(0.8);
  transform: rotate(90deg);
  float: right;
  fill: lime;
}
.titleC {
  font-family: Razerf5;
  color: #999999;
  line-height: 1.8rem;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  padding: 1% 21% 0%;
}
.discripC {
  font-size: 0.9rem;
}
.img-col {
  height: 36rem;
  background-position: center;
}
.footer-text {
  color: #999999;
}
.footer-menu {
  color: #999999;
}
.footer-menu:hover {
  color: white;
}
.company {
  font-size: 0.88rem;
}
.catalog {
}
.access-body {
  height: 100vh;
  color: #999999;
}
.access {
  background-color: black;
}
.pc-title {
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  font-family: Razerf5;
  font-weight: 900;
  font-size: 1.2rem;
}

.btnC {
  font-family: Razerf5;
  font-weight: bolder;
  font-size: 0.85rem;
  color: #999999;
  -webkit-text-stroke-width: 0.4px;
  background-color: black;
  margin: 0rem 1rem 0rem 1rem;
  border: none;
  padding: 0rem 0rem 0.4rem 0rem;
  border-bottom: solid black 2.3px;
  cursor: pointer;
}

/* Style the active class, and buttons on mouse-over */
.access-faro {
  border-bottom: solid lime 2.3px;
  color: #44d62c;
}

.fillter {
  font-family: Roboto, helvetica neue, Arial, noto sans, sans-serif,
    apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  font-size: 0.86rem;
  -webkit-text-stroke-width: 0.4px;
}
.fillter-pad {
  padding: 1.36rem 0rem;
  font-family: Roboto, helvetica neue, Arial, noto sans, sans-serif,
    apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  font-size: 0.86rem;
  -webkit-text-stroke-width: 0.4px;
}
button:focus {
  outline: 0;
}
.underline-faro {
  border-bottom: solid #999999 1px;
}
