#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  padding-top: 47px;
}
body {
  background-color: #222222;
}
.menu-bg{
  background-color: #222222;
}
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: #999999;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: fixed;
  width: 100%;
  left: 195px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
a:hover {
  text-decoration: none;
 }
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}
.col-item{
  font-size: 1rem;
  color: #999999;
}
.col-item:hover{
  color: lime;
}
.bg-dropdown{
  background-color: black;
}
.img-row{
  background-position-x: center;
  height: 97vh;
  background-repeat: no-repeat;
}
.title{
  
  font-family: Razerf5;
  color: #999999;
  line-height: 2.5rem;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: .05rem;
}


.discrip{
  font-family: Razerf5;
  font-size: 1.15rem;
  font-weight: bolder;
  letter-spacing: 0.07rem;
}
.arrow{
  transform: rotate(0deg);
  transform: scale(0.4);
  fill: lime;
}
.titleC{
  font-family: Razerf5;
  color: #999999;
  line-height: 2rem;
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: .05rem;
  padding:1% 21% 0%;
}
.discripC{
  font-size: 0.9rem;
}
.img-col{
  height: 80vh;
  background-position: center;
}
.footer-text{
  color: #999999;
}
.footer-menu{
  color: #999999;
}
.footer-menu:hover{
  color: white;
}
.company{
  font-size: 0.88rem;
}